<div class="row">
    <div class="col-sm-6 col-md-8 col-lg-9">
      <h1>Over deze applicatie</h1>
      <p>
        Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
        Breda. 
      </p>
      <h3>BioscoopCasus</h3>
      <p>
        Het project houdt als volgt in. Ik moet een angular applicatie maken waarbij ik een bepaald onderwerp toezeg. Ik heb bij dit project gekozen voor een BioscoopCasus.
        Hierbij maak ik gebruik van 4 enititeiten namelijk: Moviescreening, Halls, Movie en natuurlijk de User.
        <li>
          Moviescreening wordt gebruikt, omdat bij een flim vaak een bepaalde plek wordt gekozen samen met een gekozen film. Samen wordt dat een Moviescreening
        </li>
        <li>
          Halls wordt gebruikt, omdat je bij een film kijken vaak een plek moet hebben om het te bekijken.
        </li>
        <li>
          Movie wordt gebruikt, omdat je naar de biocoop gaat om een film te zien.
        </li>
        <li>
          User wordt gebruikt, omdat je hiermee kun authenticeren en een film kan bekijken.
        </li>
  
  
      </p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="d-flex justify-content-center align-items-center">
          <img src="assets/images/Atal_profiel.jpg"
               class="card-img-top rounded-circle border profile-pic"
               alt="..." />
        </div>
        <div class="card-body">
          <h5 class="card-title">Atal Kakar</h5>
          <p class="card-text">
            Studentnummer: 2126643
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <h3>Entiteiten</h3>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <p>Moviescreening</p>
      <ul>
        <li>Id: number</li>
        <li>Movies: object</li>
        <li>Halls: object</li>
        <li>Location: string</li>
        <li>Time: string</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4">
      <p>Halls</p>
      <ul>
        <li>Id: number</li>
        <li>Seats: number</li>
        <li>Rows: number</li>
        <li>Type: string</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4">
      <p>Movies<p>
        <ul>
          <li>Title: string</li>
          <li>Time: number</li>
          <li>Language: string</li>
          <li>Description: string</li>
          <li>Genre: string</li>
        </ul>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>User<p>
      <ul>
        <li>Email: string</li>
        <li>Password: string</li>
        <li>Name: string</li>
        <li>Gender: string</li>
      </ul>
  </div>
  
  <div class="row">
    <div class="col-12">
      <h3>Use Cases</h3>
      <p>De applicatie biedt de volgende functionaliteit.</p>
      <div *ngFor="let UC of useCases">
        <app-usecase [useCase]="UC"></app-usecase>
      </div>
      <p>Ik weet niet of dit genoeg use- cases zijn dit is alles wat er nu in me op komt.</p>
    </div>
  </div>
  